@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Oxygen", serif;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #800080;
}